<div id="footer">
    <footer class="row">
        <p class="back-top floatright">
            <a href="#top"><span></span></a>
        </p>
        <div class="four columns">
            <h1>Our Goal</h1>
            Our goal is to build society!
        </div>
        <div class="four columns">
            <h1>Connect With Us</h1>
            <a class="social facebook" href="#"></a>
            <a class="social twitter" href="#"></a>
            <a class="social flickr" href="#"></a>
        </div>
        <div class="four columns">
            <h1 class="newsmargin">Contact Us</h1>
            <div class="row collapse newsletter floatright">
                <div class="ten mobile-three columns">
                    Lions Club - Pune<br />
                    Market Yard, Gultekadi,<br />
                    Pune - 411037<br />
                    Telephone: 020 - 0000000<br />
                    Email: abc@test.com
                </div>
            </div>
        </div>
    </footer>
</div>
<div class="copyright">
    <div class="row">
        <div class="six columns">
            &copy;<span class="small"> Copyright 2015 Lions Club - Pune</span>
        </div>
        <div class="six columns">
            <span class="small floatright"> Developed by Mukesh Vaishnav</span>
        </div>
    </div>
</div>