<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                CONTACT US
            </p>
            <p class="right">
                Get in touch today!
            </p>
        </div>
    </div>
</div>
<div class="row">
    <!-- GOOGLE MAP IFRAME -->
    <!--Latitude : 18.488956-->
    <!--Longitude: 73.867124-->
    <div class="twelve columns">
        @*<iframe class="gmap" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=disney+paris&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=39.371738,86.572266&amp;ie=UTF8&amp;hq=disney&amp;hnear=Paris,+%C3%8Ele-de-France,+France&amp;t=m&amp;fll=48.881877,2.535095&amp;fspn=0.512051,1.352692&amp;st=103241701817924407489&amp;rq=1&amp;ev=zo&amp;split=1&amp;ll=49.027964,2.772675&amp;spn=0.315159,0.585022&amp;z=10&amp;iwloc=D&amp;output=embed"></iframe>*@
        <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.8830473095218!2d73.86712399999999!3d18.488955999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c020fadd9ad7%3A0x6af899e3f6e1544f!2sRajendrakumar+Mohanlal+and+Co.!5e0!3m2!1sen!2sin!4v1434293343939"></iframe>
    </div>
</div>
<div class="row">
    <!-- CONTACT FORM -->
    <div class="eight columns">
        <div class="wrapcontact">
            <h5>SEND US A MESSAGE</h5>
            <div class="done">
                <div class="alert-box success">
                    Message has been sent! <a href="" class="close">x</a>
                </div>
            </div>
            <form method="post" action="Contact.cshtml" id="contactform">
                <div class="form">
                    <div class="twelve columns noleftmargin">
                        <label>Full Name</label>
                        <input type="text" name="name" class="smoothborder" placeholder="Your name *" />
                    </div>
                    <div class="twelve columns noleftmargin">
                        <label>Mobile Number</label>
                        <input type="text" name="mobile" class="smoothborder" placeholder="Your mobile number *" />
                    </div>
                    <div class="twelve columns noleftmargin">
                        <label>E-mail address</label>
                        <input type="text" name="email" class="smoothborder" placeholder="Your e-mail address *" />
                    </div>
                    <label>Message</label>
                    <textarea name="comment" class="smoothborder ctextarea" rows="14" placeholder="Message, feedback, comments *"></textarea>
                    <input type="submit" id="submit" class="readmore" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <div class="four columns">
        <div class="logo">
            <img src="~/images/home.png" class="pics" alt="logo">
            <h5 class="sidebartitle">Address</h5>
            <p>
                Lions Club - Pune<br />
                Market Yard, Gultekadi,<br />
                Pune - 411037
            </p>
        </div>
    </div>
    <div class="four columns">
        <div class="logo">
            <img src="~/images/phone.png" class="pics" alt="logo">
            <h5 class="sidebartitle">Phone Number</h5>
            <p>
                Office : +91 - 020 - 22222222<br />
                Fax : +91 - 020 - 22222222
            </p>
        </div>
    </div>
    <div class="four columns">
        <div class="logo">
            <img src="~/images/email.png" class="pics" alt="logo">
            <h5 class="sidebartitle">Email</h5>
            <p>
                Email: test@abc.com<br />
                Website: http://wwww.lionsclubpune.org
            </p>
        </div>
    </div>
</div>
<div class="hr">
</div>