<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                Gallery
            </p>
            <p class="right">
                Meetings, Events and Fun
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div id="portofolio">
        <!-- Event 1-->
        <div class="three columns category trains">
            <h5>Event 1</h5>
            <p>
                Event 1 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio1.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio1.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 2-->
        <div class="three columns category castles">
            <h5>Event 2</h5>
            <p>
                Event 2 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio2.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio2.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 3-->
        <div class="three columns category nature">
            <h5>Event 3</h5>
            <p>
                Event 3 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio3.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio3.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 4-->
        <div class="three columns category castles">
            <h5>Event 4E</h5>
            <p>
                Event 4 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio4.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio4.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 5-->
        <div class="three columns category nature castles">
            <h5>Event 5</h5>
            <p>
                Event 5 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio5.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio5.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 6-->
        <div class="three columns category nature">
            <h5>Event 6</h5>
            <p>
                Event 6 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio6.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio6.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 7-->
        <div class="three columns category nature">
            <h5>Event 7</h5>
            <p>
                Event 7 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio7.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio7.jpg" class="fourimage" alt="" />
            </div>
        </div>
        <!-- Event 8-->
        <div class="three columns category nature">
            <h5>Event 8</h5>
            <p>
                Event 8 - Description.
            </p>
            <div class="portofoliothumb">
                <div class="portofoliothumboverlay fouroverlay">
                    <div class="viewgallery fourgallery">
                        <a data-gal="prettyPhoto[gallery]" href="~/images/temp/folio8.jpg"><img src="~/images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
                    </div>
                </div>
                <img src="~/images/temp/folio8.jpg" class="fourimage" alt="" />
            </div>
        </div>
    </div>
</div>
<div class="hr">
</div>