<div id="subheader" class="subheadertext" style="padding:50px 0px !Important;">
    <div class="row">
        <div class="twelve columns">
            <div class="noslide">
                <h1>Our Photography Studio</h1>
                <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h3>
                <div class="minipause"></div><br />
                <a href="#" class="clear actbutton">Action Button</a>
            </div>
        </div>
    </div>
</div>
<div class="hr">
</div>
<div class="row">
    <div class="twelve columns">
        <div class="messageBox">
            <span>
                <img src="~/images/temp/UMBathiya.jpg" alt="" />
            </span>
            <h4>President's Message</h4>
            <p>
                Mrs. Delorane had died of decline: people would say to one another, in confidence, they hoped Ellin might escape it. The largest and <b>best farm</b> in the neighbourhood of Timberdale, larger than even that of the Ashtons, was called the Dower Farm.
            </p>
            <p>
                Out-of-doors he was the keen, active, thorough farmer; indoors he lived as a gentleman. He had four children: three boys and one girl. Nothing must prevent her journey upon the desert!
            </p>
            <div class="panel">
                <p>
                    <b>Phasellus luctus ante in eros suscipit aliquet. Donec convallis scelerisque tellus, quis vulputate lacus laoreet sed. Mauris vitae ultricies neque. Nullam arcu neque, posuere et accumsan quis, euismod id leo. Donec tristique, nisi vel tincidunt faucibus, velit eros pulvinar leo, in sollicitudin nisi nibh ac arcu.</b>
                </p>
                <p class="text-right">
                    <i>Ray Singer, Manager at "Studio Francesca"</i>
                </p>
            </div>
            <p>
                From her window she looked out toward it, so wonderful, so superb, so exquisite, weird and beautiful. Exactly, she told herself, like a big, black smudge.
            </p>
            <br />
        </div><!-- end main content-->
    </div>
    <div class="hr">
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <div class="sectiontitle">
            <h4>Our History</h4>
        </div>
        <p>
            Mrs. Delorane had died of decline: people would say to one another, in confidence, they hoped Ellin might escape it. The largest and <b>best farm</b> in the neighbourhood of Timberdale, larger than even that of the Ashtons, was called the Dower Farm.
        </p>
        <p>
            Out-of-doors he was the keen, active, thorough farmer; indoors he lived as a gentleman. He had four children: three boys and one girl. Nothing must prevent her journey upon the desert!
        </p>
        <p>
            <b>Phasellus luctus ante in eros suscipit aliquet. Donec convallis scelerisque tellus, quis vulputate lacus laoreet sed. Mauris vitae ultricies neque. Nullam arcu neque, posuere et accumsan quis, euismod id leo. Donec tristique, nisi vel tincidunt faucibus, velit eros pulvinar leo, in sollicitudin nisi nibh ac arcu.</b>
        </p>
        <p>
            From her window she looked out toward it, so wonderful, so superb, so exquisite, weird and beautiful. Exactly, she told herself, like a big, black smudge.
        </p>
        <br />
    </div><!-- end main content-->
    <div class="hr">
    </div>
</div>