<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                News and Events
            </p>
            <p class="right">
                News and Press Releases
            </p>
        </div>
    </div>
</div>