<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <p class="left">
                Meet Our Team
            </p>
            <p class="right">
                What they say!
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="eight columns">
        <h6 class="sidebartitle">RECENT COMMENTS</h6>
        <div class="avatar">
            <img src="~/images/temp/author1.png" alt="">
        </div>
        <h4>Uttam M. Bathiya</h4>
        <h6>President</h6>
        <p>
            Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
        </p>
        <hr>
        <div class="avatar">
            <img src="~/images/temp/author2.png" alt="">
        </div>
        <h4>Mr. XYZ</h4>
        <h6>Board Member</h6>
        <p>
            Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
        </p>
        <hr>
        <div class="avatar">
            <img src="~/images/temp/author3.png" alt="">
        </div>
        <h4>Mr. ABC</h4>
        <h6>Treasurer</h6>
        <p>
            Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
        </p>
        <hr>
    </div>
</div>