.messageBox > span {
    border: 1px solid #CFEEE7;
    color: #8E8E8E;
    float: left;
    font-size: 80px;
    line-height: 160px;
    margin-bottom: 20px;
    margin-right: 30px;
    text-align: center;
    height: 160px;
    width: 170px;
}

.messageBox > p {
    letter-spacing: 0.4px;
    line-height: 25px;
    margin-top: 10px;
    text-align: justify;
}

.messageBox h2 {
    font-size: 22px;
    padding: 20px 0 0;
}

